In [59]:
#Importar librerías
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import mlflow

In [60]:
mlflow.set_tracking_uri("http://127.0.0.1:9090")
mlflow.set_experiment(experiment_name="pruebas")

2025/05/19 23:36:09 INFO mlflow.tracking.fluent: Experiment with name 'pruebas' does not exist. Creating a new experiment.

In [61]:
#Cargar dataset
penguins = pd.read_csv('penguins.csv')
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [62]:
#Exploración de datos
penguins.shape

(344, 7)

In [63]:
#Información de las columnas
penguins.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [64]:
#Conocer los valores faltantes
penguins.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [65]:
#Cuantas especies de pinguinos hay
penguins[['species']].nunique()

species    3
dtype: int64

In [66]:
#Limpiamos los valores faltantes
penguins_cleaned = penguins.dropna()
penguins_cleaned.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [67]:
#Cree la matriz de características 𝑋 y el vector de destino 𝑦
feature_columns = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm','body_mass_g']
X = penguins_cleaned.loc[:, feature_columns]
y = penguins_cleaned.loc[:, 'species']
print(f'The shape of feature matrix X is:{X.shape}')
print(f'The shape of feature matrix y is:{y.shape}')

The shape of feature matrix X is:(333, 4)
The shape of feature matrix y is:(333,)

In [68]:
# Dividir los datos
from sklearn.model_selection import train_test_split
# Ayuda del train_test_split
#help(train_test_split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [69]:
# Importar el algoritmo seleccionado
from sklearn.tree import DecisionTreeClassifier

In [70]:

with mlflow.start_run(run_name="Jorge"):
    # Instanciar modelo con los hiperparámetros seleccionados
    model = DecisionTreeClassifier(max_depth = 2)
    
    # Entrenar el modelo con la data de entrenamiento
    model.fit(X_train, y_train)
    
    # Hacer predicciones con nuevos datos
    y_pred = model.predict(X_test)
    
    #y_pred[0:10]
    
    # Metricas
    from sklearn.metrics import accuracy_score
    accuracy = accuracy_score(y_test,y_pred)

    # Registrar parámetros y métricas en MLflow
    mlflow.log_param("max_iter", 200)
    mlflow.log_metric("accuracy", accuracy)

    # Guardar el modelo en MLflow
    mlflow.sklearn.log_model(model, "clasificador_pinguinos")

    print(f"Precisión del modelo: {accuracy}")

2025/05/19 23:36:29 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

Precisión del modelo: 0.9850746268656716
🏃 View run Jorge at: http://127.0.0.1:9090/#/experiments/1/runs/ea9d26a0a9b248fd9e6498888d41e98f
🧪 View experiment at: http://127.0.0.1:9090/#/experiments/1